<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - WebApp</title>

    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="~/css/newglyphicons.css" />
    <script src="~/lib/jquery/dist/jquery.js"></script>

    <style>
        @@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@300;500&display=swap');

        :root {
            --cor-fundo: #373F46;
            --cor-header: #272C2F;
            --cor-nexos: #26a5ee;
            --cor-nexosdark: rgb(17, 136, 206);
            --cor-texto: #fff;
        }

        /*-----------------------------------------------------
          RESET + BASE
        -----------------------------------------------------*/
        * {
            margin: 0;
            padding: 0;
            font-family: "League Spartan", sans-serif;
            font-weight: 500;
            box-sizing: border-box;
        }

        html, body {
            height: 100%;
        }

        body {
            min-height: 100vh;
            background: linear-gradient(15deg, rgba(41,41,41,1) -100%, rgba(58,66,72,1) 70%);
            color: var(--cor-texto);
            overflow-x: hidden;
        }

        /*-----------------------------------------------------
          SCROLLBAR
        -----------------------------------------------------*/
        ::-webkit-scrollbar {
            width: 10px;
            background-color: var(--cor-header);
        }

        ::-webkit-scrollbar-thumb {
            background-color: var(--cor-nexosdark);
        }

            ::-webkit-scrollbar-thumb:hover {
                background-color: var(--cor-nexos);
            }

            ::-webkit-scrollbar-thumb:active {
                background-color: #000;
            }

        ::-webkit-scrollbar-corner {
            background-color: #181a1b;
        }

        /*-----------------------------------------------------
          HEADER
        -----------------------------------------------------*/
        header {
            background-color: var(--cor-header);
            height: 5em;
            display: flex;
            align-items: center;
            padding-left: 1.5em;
            gap: 1em;
            box-shadow: 0 -2px 8px var(--cor-nexosdark);
            position: relative;
            z-index: 4;
        }

        .img_logo {
            width: 135px;
            margin-left: -20px;
        }

        .foto_perfil {
            position: absolute;
            right: 1.5em;
        }

        .icon_usuario {
            width: 30px;
        }

        /*-----------------------------------------------------
          NAV (comandos)
        -----------------------------------------------------*/
        .comandos {
            display: flex;
            gap: 3em;
            align-items: center;
            background-color: var(--cor-header);
        }

            .comandos a {
                color: var(--cor-texto);
                font-weight: bold;
                text-decoration: none;
                padding: 10px 10px 7px;
                transition: 0.2s;
            }

                .comandos a:hover {
                    color: var(--cor-nexos);
                    transform: scale(1.1);
                }

        /*-----------------------------------------------------
          HOVER REAL DOS DROPDOWNS
        -----------------------------------------------------*/
        .nav-item:hover > .dropdown-menu {
            display: block !important;
        }

        .dropdown-menu {
            background-color: var(--cor-header);
            border: 1px solid var(--cor-nexosdark);
        }

            .dropdown-menu .dropdown-item {
                color: var(--cor-texto);
            }

                .dropdown-menu .dropdown-item:hover {
                    background-color: rgb(78, 78, 78);
                }

        /* Submenu lateral */
        .dropdown-submenu {
            position: relative;
        }

            .dropdown-submenu .dropdown-menu {
                left: 100%;
                top: 0;
                margin-left: .2rem;
            }

        /*-----------------------------------------------------
          MOBILE MENU
        -----------------------------------------------------*/
        .icone_lista {
            background: transparent;
            border: none;
            color: white;
            cursor: pointer;
            display: none;
        }

        @@media screen and (max-width: 768px) {
            .icone_lista

        {
            display: block;
        }

        .comandos {
            display: none;
        }

            .comandos.sidebar-ativa {
                display: flex;
                flex-direction: column;
                position: absolute;
                left: 0;
                top: 0;
                height: 100%;
                width: 30vw;
                background-color: #222629;
                padding: 1em;
                animation: mostraSideBar 0.4s;
            }

        }

        /* Sidebar animation */
        @@keyframes mostraSideBar {
            from

        {
            left: -35vw;
        }

        to {
            left: 0;
        }

        }

        .content.blur {
            filter: blur(2px);
        }

        main {
            width: 100%;
            min-height: calc(100vh - 4em);
            position: relative;
        }

        .content {
            position: relative;
            z-index: 2;
            padding: 2em;
            text-align: center;
            display: flex;
            flex-direction: column;
            gap: 5em;
        }

        footer .container-fluid {
            background: var(--cor-header);
            color: var(--cor-texto);
            text-align: center;
            padding: 1em;
        }

        .comandos li,
        .dropdown-menu li {
            list-style: none !important;
        }

       
        .comandos a,
        .dropdown-menu .dropdown-item {
            font-size: 1.22rem; 
        }

        .comandos a:hover {
            font-size: 1.25rem;
        }
    </style>
    <script>
        function alertifyReset() {

            alertify.set({
                labels: {
                    ok: "Sim",
                    cancel: "Não"
                },
                delay: 5000,
                buttonReverse: false,
                buttonFocus: "cancel"

            });
        }
    </script>

</head>
<body>
    <header id="header">
        <button class="icone_lista" id="abrir" aria-label="Abrir menu">
            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" viewBox="0 0 16 16">
                <path fill-rule="evenodd"
                      d="M2.5 12a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5m0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5m0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5" />
            </svg>
        </button>

        <div class="logo">
            <a href="~/home"><img src="~/LogoNexos.png" class="img_logo" alt="Logo NexOS" /></a>
        </div>

        <nav class="comandos" id="comandos">
            <button class="icone_lista fechar" id="fechar" aria-label="Fechar menu">
                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" viewBox="0 0 16 16">
                    <path d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708 .708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708" />
                </svg>
            </button>

           
            <li class="nav-item">
                <a href="~/home" class="span_header">Home</a>
            </li>

            
            <li class="nav-item dropdown">
                <a href="#" id="menu" data-bs-toggle="dropdown" class="span_header" data-bs-display="static">Importar</a>
                <ul class="dropdown-menu">
                    <li><a href="~/impexpservicos/" class="dropdown-item">Arquivo de Texto</a></li>
                    <li><a href="~/CadOS/Create" class="dropdown-item">Inserir Manualmente</a></li>
                </ul>
            </li>

            
            <li class="nav-item dropdown">
                <a href="#" id="menu" data-bs-toggle="dropdown" class="span_header" data-bs-display="static">Programação</a>
                <ul class="dropdown-menu">
                    <li><a href="~/progservicos/progservicos" class="dropdown-item">Programar OS</a></li>
                    <li><a href="~/progservicos/progmanutencao" class="dropdown-item">Alterar OS</a></li>
                </ul>
            </li>

            
            <li class="nav-item dropdown">
                <a href="#" id="menu" data-bs-toggle="dropdown" class="span_header" data-bs-display="static">Gerenciamento</a>
                <ul class="dropdown-menu">
                    <li><a href="~/gerenciamento/funcionarios" class="dropdown-item">Funcionários</a></li>
                    <li><a href="~/gerenciamento/os" class="dropdown-item">Ordens de Serviço</a></li>
                    <li><a href="~/gerenciamento/analiseservicos" class="dropdown-item">Análise de Serviços</a></li>
                </ul>
            </li>

            
            <li class="nav-item dropdown">
                <a href="#" id="menu" data-bs-toggle="dropdown" class="span_header" data-bs-display="static">Cadastros</a>
                <ul class="dropdown-menu">
                    <li><a href="~/CadAgentes" class="dropdown-item">Agente de Campo</a></li>
                    <li><a href="~/CadUsuarios" class="dropdown-item">Programador</a></li>
                </ul>
            </li>
            <li class="nav-item">
                <a href="~/Relatorios" class="span_header">Relatórios</a>
            </li>
        </nav>

        <div class="foto_perfil">
            <a href="#"><img src="~/icone_usuario.png" alt="usuario" class="icon_usuario" /></a>
        </div>
    </header>
    <main class="container-fluid">
        <div role="main" class="pb-3">
            @RenderBody()
        </div>
    </main>

    @* <footer class="border-top footer text-muted"> *@
    <footer>
        <div class="container-fluid">
            &copy; Serviços NexOs
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
